# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Variabili sensibili
terraform.tfvars
*.auto.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# SSH keys
*.pem
*.key

# Ansible
ansible/inventory/hosts.yml
*.retry

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
